<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Quoi de 9?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
  
<% else %>  
  
  <h1>Social ESMT</h1>
  <p>
      <!--This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application. -->
      Page d'accueil du reseau social de l'<a href="http://www.esmt.sn">ESMT</a>
  </p>
  <div align="center"><p> <h2><b>Site en construction...</b></h2></p></div>
  
  <%= link_to "S'inscrire!", signup_path, :class=> "signup_button round" %>
  
<% end %>